@import "tailwindcss";

@theme {
  --color-green: #126817;
  --color-lightGreen: #95cf98;
  --color-yellow: #ddc02f;
  --color-white: #fff;
  --color-black: #101010;
  --color-bg-body: #eff3e5;
}

body {
  background-image: url("../src/assets/images/images-two/background.webp");
  background-repeat: no-repeat;
  background-color: rgba(
    202,
    255,
    211,
    0.5
  ); /* black overlay with 50% opacity */
  background-blend-mode: darken;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* p{
  background-color: #95cf98;
} */

.swiper-button-next,
.swiper-button-prev {
  color: var(--color-yellow) !important;
  width: 10px !important;
}

/*
.swiper-pagination-bullet {
  background: var(--color-green) !important;
  opacity: 0.8 !important;
  width: 30px !important;
  height: 6px !important;
  border-radius: 25% !important;
}*/

.swiper-pagination-bullet-active {
  background: var(--color-yellow) !important;
  opacity: 1 !important;
}

.no-scroll {
  overflow: hidden;
}

.swiper-slide {
  will-change: transform !important;
}

.mkv {
  mask-image: linear-gradient(to top, transparent, black) !important;
  mask-repeat: no-repeat !important;
  mask-size: 100% !important;
}

.main-nav > li {
  text-decoration: none;
  cursor: pointer;
  transition: text-decoration 2s;
}

.main-nav > li:hover {
  text-decoration: #126817 underline 2px;
  text-underline-offset: 5px;
}
